.cardwrapper{
    margin: 0 auto;
    width: 400px;
    margin-top: 128px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card{
    width: 100%;
    padding: 16px 24px 24px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 20%), 
                0px 2px 2px 0 rgb(0 0 0 / 14%), 
                0px 1px 3px 0 rgb(0 0 0 / 10%);
    backdrop-filter: blur(8px);
    background-color: rgba(255,255,255,0.5);
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.2);
}

.cardlogo{
    width: 200px;
    border-radius: 24px;
}

.cardinfo{
    margin-top: 24px;
    width: 100%;
}