.profileContent{
    color: #404040;
    padding: 2em;
}

.profileHeader{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    margin: 1em 2em 0 2em;
}

.profileInfo{
    display: flex;
    padding: 2em;
}

.profileContact{
    flex-grow: 1;
    margin-left: 10em;
}

.profilePets{
    flex-basis: 25%;
}

.pet{
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.petImage{
    width: 5em;
    height: 5em;
}

.petImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.petInfo{
    margin-left: 20px;
}

.petInfo h5,
.petInfo h6{
    margin: 0;
}

.petInfo h6{
    font-weight: normal;
}

.newPet{
    margin-top: 0.75em;
}