.login{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), 
                      url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: sans-serif;
}

.loginform{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputWrapper{
    position: relative;
    margin: 16px 0 8px 0;
}

.formgroup{
    margin-top: 16px;
    color: #707070;
    border-bottom: 1px solid #707070;
    transition: border 200ms ease-in-out;
}

.formgroup:hover{
    border-color: #045e8b;
}

.formgroup::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    transition: width 200ms ease-in-out;
    border-bottom: 2px solid #045e8b;
}

.formgroup:focus-within::before{
    width: 100%;
}

label{
    position: absolute;
    left: 0;
    transition: transform 200ms ease-in-out,
                color 200ms ease-in-out;
    pointer-events: none;
    transform-origin: 0 0;
    transform: translateY(30%);
}

.logininput::placeholder{
    color: transparent;
}


.logininput:focus + label,
.logininput:not([value='']) + label{
    color: #045e8b;
    transform: translateY(-100%) scale(0.75);
}

.logininput{
    font-size: 1rem;
    padding: 6px 0 7px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    outline: none;
    background-color: transparent;
}

.btn{
    font-weight: bold;
    width: 100%;
    padding: 8px 24px;
    box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 20%), 
                0px 2px 2px 0 rgb(0 0 0 / 14%), 
                0px 1px 3px 0 rgb(0 0 0 / 10%);
    border: none;
    cursor: pointer;
}

.green{
    background-color: rgba(17, 158, 12,0.8);
    color: #e0e0e0;
}

.green:hover{
    background-color:#119e0c;
}


.blue{
    background-color: #1577bd;
    color: #e0e0e0;
}

.blue:hover{
    background-color: #045e8b;
}

.error{
    text-align: left;
    font-size: 0.75em;
    transform: translate(0, -125%);
    font-weight: bold;
    color: #dc143c;
}

.margin24{
    margin-top: 24px;
}