.medicalRecord{
    margin: 0 2.5em;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.medicalRecordNav{
    display: flex;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 8px 8px 0 0;
}

.medicalRecordNav a{
    padding: 16px;
    color: #404040;
    text-decoration: none;
    flex-grow: 1;
    border-bottom: 1px solid #3399ff;
}

.medicalRecordNav a:not(.medicalRecordOpen):hover{
    color: #3399ff;
}


.medicalRecordNav .medicalRecordOpen{
    background-color: #fff;
    border: 1px solid #3399ff;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    pointer-events: none;
    cursor: default;
}

.medicalRecordInfo{
    border-radius: 0 0 8px 8px;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #3399ff;
    border-top: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.medicalRecordInfo > .appointment{
    margin: 1em;
    padding: 1em 0;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #c0c0c0;
}

.vaccines{
    border-collapse: collapse;
    width: 100%;
}

.vaccines th,
.vaccines td{
    border: 1px solid #c0c0c0;
    font-size: 0.7em;
    text-align: left;
    padding: 8px;
    word-break: break-word;
}

tr > .vaccineActions{
    text-align: center;
}

.vaccine:nth-child(even){
    background-color: #e0e0e0;
}

.vaccine > td > input{
    border: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-size: 0.95em;
}

.appointment > .appointmentInfo{
    flex-grow: 1;
}

.medicalRecordInfo > .appointment h2,
.medicalRecordInfo > .appointment p{
    margin: 0;
    font-weight: normal;
}
