.modules{
    display: flex;
    padding: 2em;
    flex-wrap: wrap;
}

.moduleContent{
    padding: 1em 2em;
}

.moduleCardwrapper{
    margin: 0.75rem;
    border-radius: 4px;
}

.moduleCard{
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 5px 0 rgb(0 0 0 / 20%), 
                0px 2px 2px 0 rgb(0 0 0 / 14%), 
                0px 1px 3px 0 rgb(0 0 0 / 10%);
    background-color: rgba(255,255,255,0.5);
    border-radius: inherit;
    border: 1px solid rgba(255,255,255,0.2);
}

.moduleInfo{
    flex-grow: 1;
    padding: 16px 24px;
}

.moduleInfo > p{
    margin-bottom: 0;
}

.moduleImage{
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 16px 24px;
}

.moduleImage img{
    width: 70%;
    height: 100%;
    object-fit: contain;
}

.modules > a{
    flex: 1 0 50%;
    color: #193e50;
    text-decoration: none;
}

.modules > a:hover > .moduleCardwrapper{
    background-color: #e0e0e0;
}

.modules > a p{
    color: #707070;
}