h1{
    margin:0;
}

.subheader{
    background-color: #3399ff;
    color: #fafafa;
    padding: 0 0.8em;
    height: 5%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav{
    color: #fafafa;
    text-decoration: none;
}

.nav:hover{
    text-decoration: underline;
}

.arrow{
    display:inline;
    padding: 0 10px;
}

.arrow::after{
    content: ">";
}



